label{
    color: black;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgba(63, 202, 96, 0.489);
    border-style: outset;
    box-shadow: 2px 2px 8px;
    border-radius: 2rem;
    padding: 4rem 1rem;
    margin: 5rem 35rem;
    max-width: 500px;
}

form input, textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: black;
}

button{
    height: 4rem;
    width: auto;
    font-size: 2rem;
    background-color: rgb(240, 240, 34);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 6px;
    
}